{% include "header.twig" %}
    <div>
         <form action="./src/Edit_quarto.php" class="container_quartos" method="POST">
            {% for quartos in quartos %}
            {% if quartos.estado == "Livre" or "livre" %}
                <div class="quartos livre">
                    <div>
                    <h1>{{quartos.id}}  {{quartos.estado}}</h1>
                    <h2></h2> 
                    </div> 
                    <select name="estado">
                        <option value="livre">Livre</option>
                        <option value="ocupado">Ocupado</option>
                        <option value="manutenção">Manutenção</option>
                        <option value="limpeza">Limpeza</option>
                    </select>
                </div> 
            {% elseif quartos.estado == "Ocupado" %}
                <div class="quartos ocupado">
                    <div>
                    <h1>{{quartos.id}}  {{quartos.estado}}</h1>
                    <h2></h2> 
                    </div> 
                    <select name="estado">
                        <option value="livre">Livre</option>
                        <option value="ocupado">Ocupado</option>
                        <option value="manutenção">Manutenção</option>
                        <option value="limpeza">Limpeza</option>
                    </select>
                </div> 
            {% elseif quartos.estado == "Manutenção" %}
                <div class="quartos livre">
                    <div>
                    <h1>{{quartos.id}}  {{quartos.estado}}</h1>
                    <h2></h2> 
                    </div> 
                    <select name="estado">
                        <option value="livre">Livre</option>
                        <option value="ocupado">Ocupado</option>
                        <option value="manutenção">Manutenção</option>
                        <option value="limpeza">Limpeza</option>
                    </select>
                </div> 
            {% elseif quartos.estado == "Limpeza" %}
                <div class="quartos livre">
                    <div>
                    <h1>{{quartos.id}}  {{quartos.estado}}</h1>
                    <h2></h2> 
                    </div> 
                    <select name="estado">
                        <option value="livre">Livre</option>
                        <option value="ocupado">Ocupado</option>
                        <option value="manutenção">Manutenção</option>
                        <option value="limpeza">Limpeza</option>
                    </select>
                </div> 
            {% endif %}       
            {% endfor %}
            <input type="submit" value="Confirmar alterações" name="submit">
        </form>
    </div>
{% include "footer.twig" %}